<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.MemberMapper">

	<resultMap type="org.joonzis.domain.MemberVO" id="memberMap">
		<result property="userId" column="userId"/>
		<result property="userPw" column="userPw"/>
		<result property="userName" column="userName"/>
		<result property="regDate" column="regDate"/>
		<result property="updateDate" column="updateDate"/>
		<!-- <result property="enabled" column="enabled"/> -->
		<collection property="authList" resultMap="authMap"></collection> <!-- authList는 다른 테이블에 존재하는 행 -->
	</resultMap>
	<resultMap type="org.joonzis.domain.AuthVO" id="authMap">
		<result property="userId" column="userId"></result>
		<result property="auth" column="auth"></result>
	</resultMap>

	<!-- 1:N의 관계를 잘 정리해서 반환하게 resultMap을 사용하는 방법 -->
	<select id="read" resultMap="memberMap">
		SELECT mem.*, auth.*
		FROM tbl_member mem
	    	LEFT JOIN tbl_member_auth auth
	    	ON mem.userid = auth.userid
		WHERE mem.userid=#{userId}
	</select>
</mapper>
